html {
  font-family: 'Open Sans', sans-serif;
}

h3 {
  font-weight: 300;
}

h4 {
  font-weight: 300;
  color: grey;
}

blockquote {
  padding: 0 15px;
  color: #777;
  border-left: 4px solid #ddd;
}

code {
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  margin: 0;
  background-color: rgba(0,0,0,0.04);
  border-radius: 3px;
}

pre {
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: #f7f7f7;
  border-radius: 3px;
}

pre > code {
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  margin: 0;
  border-radius: 3px;
}
h1 {
color: red
}

body {
background-color: green
}